.container-footer{
    margin-bottom: 5em;

    .wrapper-footer{

        .upper-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 6em;

            .container-text{
                h1{
                    margin-bottom: 0;
                }
            }

            .container-button{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .btn-primary{
                    width: 50%;
                    font-size: 15px;
                    margin-right: 2em;
                }
            }
        }

        .main-footer{
            display: flex;
            justify-content: space-between;

            .col-profile{
                width: 25%;
                display: block;

                .logo{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 4em;

                    color: #212353;
                    
                    img{
                        margin-right: 1em;
                    }
                }

                .address{
                    font-family: NotoSans-Regular;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    letter-spacing: 0.01em;
                    margin-bottom: 1em;

                    /* 2 */

                    color: #212353;
                }

                .contact{
                    font-family: NotoSans-Light;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 180%;
                    /* or 29px */

                    letter-spacing: 0.01em;

                    /* 2 */

                    color: #212353;
                }
            }

            .col-about, .col-help, .col-social{
                text-align: left center;
                ul{
                    list-style-type: none;

                    font-family: NotoSans-Regular;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 250%;
                    /* or 40px */

                    color: #212353;

                    .item-header{
                        font-family: NotoSans-Light;
                        margin-bottom: 2em;
                        
                    }
                }
            }
        }

        .copyright-footer{
            display: flex;
            justify-content: space-between;

            .copyright{
                font-family: NotoSans-Light;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 180%;
                
                align-items: center;
                letter-spacing: 0.01em;

                /* 2 */

                color: #212353;
            }
        }
    }
}